/* Estilos específicos para los botones */
.keys button {
    flex: 1 1 calc(33.333% - 10px); /* Cada botón ocupa 1/3 del ancho menos el espacio del gap */
    height: 8vh;
    font-size: 1.2em;
}

.screen input {
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 3rem;
    text-align: right;
    padding: 10px;
    margin: 1.5em 0em 1em 0em;
}

.screen input:focus {
    color: white;
    background-color: transparent;
}

.btn {
    background-color: #443D3D;
    color: white;
    border: none;
    border-radius: 1em;
    flex: 1;
}

.btn:hover {
    background-color: grey;
}

.btn:active {
    transform: scale(0.95); 
}

.operator.btn-row {
    font: bold 25px helvetica;
    background-color: #8C8989;
}

.operator.btn-row:hover {
    background-color: #636363;
}

.equal-operator.btn {
    background-color: rgb(231, 129, 55);
}

.equal-operator.btn:hover {
    background-color: rgb(218, 103, 15);
}

.btn-zero {
    text-align: left;
    flex: 2; /* Ajusta el tamaño del botón 0 */
}

.operator {
    border-radius: 1em;
    background-color: rgb(231, 129, 55);
}

.operator:hover {
    background-color: rgb(218, 103, 15);
}